<div
    bsModal
    #viewModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="viewModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Thông tin phiên đấu giá:</span>
                </h4>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    [attr.aria-label]="l('Close')"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tên phiên đấu giá</label>
                    <p>{{ genAuctionName(auction.id) }}</p>
                </div>
                <div class="form-group">
                    <label>Thời gian bắt đầu</label>
                    <p>{{ auction.startDate | date: "dd-MM-yyyy HH:mm" }}</p>
                </div>
                <div class="form-group">
                    <label>Thời gian kết thúc</label>
                    <p>{{ auction.endDate | date: "dd-MM-yyyy HH:mm" }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    [disabled]="saving"
                    type="button"
                    class="btn btn-default"
                    (click)="close()"
                >
                    {{ l("Close") }}
                </button>
            </div>
        </div>
    </div>
</div>
