<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="product.id"
                            >Cập nhật sản phẩm: {{ product.name }}</span
                        >
                        <span *ngIf="!product.id">Tạo mới sản phẩm</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        [attr.aria-label]="l('Close')"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên sản phẩm *</label>
                        <input
                            #nameInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Name"
                            [(ngModel)]="product.name"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="nameInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Mã sản phẩm *</label>
                        <input
                            #productIdInput="ngModel"
                            class="form-control"
                            type="text"
                            name="ProductId"
                            [(ngModel)]="product.productId"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="productIdInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>URL ảnh *</label>
                        <input
                            #imageInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Image"
                            [(ngModel)]="product.imageUrl"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="imageInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Danh mục sản phẩm *</label>
                        <p-dropdown
                            [options]="categories"
                            [(ngModel)]="selectedCategory"
                            optionLabel="name"
                            placeholder="Chọn danh mục"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label>Giá gốc *</label>
                        <input
                            #primaryInput="ngModel"
                            class="form-control"
                            type="number"
                            name="Primary"
                            [(ngModel)]="product.primaryPrice"
                            required
                            maxlength="64"
                            (change)="onChange($event)"
                        />
                        <validation-messages
                            [formCtrl]="primaryInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Giá khởi điểm *</label>
                        <input
                            #startInput="ngModel"
                            class="form-control"
                            type="number"
                            name="Start"
                            [(ngModel)]="product.startPrice"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="startInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Giá hiện tại *</label>
                        <input
                            #currentInput="ngModel"
                            class="form-control"
                            type="number"
                            name="Current"
                            [(ngModel)]="product.currentPrice"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="currentInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Bước giá *</label>
                        <input
                            #stepInput="ngModel"
                            class="form-control"
                            type="number"
                            name="Step"
                            [(ngModel)]="product.stepPrice"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="stepInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Người chiến thắng *</label>
                        <input
                            #winnerInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Winner"
                            [(ngModel)]="winnerClientName"
                            disabled
                        />
                        <validation-messages
                            [formCtrl]="winnerInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Thương hiệu *</label>
                        <input
                            #brandInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Brand"
                            [(ngModel)]="product.brand"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="brandInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Bảo hành *</label>
                        <input
                            #warrantyInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Warranty"
                            [(ngModel)]="product.warranty"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="warrantyInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Đường kính mặt *</label>
                        <input
                            #diameterInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Diameter"
                            [(ngModel)]="product.diameter"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="diameterInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Năng lượng sử dụng *</label>
                        <input
                            #energySourceInput="ngModel"
                            class="form-control"
                            type="text"
                            name="EnergySource"
                            [(ngModel)]="product.energySource"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="energySourceInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Chi tiết sản phẩm *</label>
                        <input
                            #detailInput="ngModel"
                            class="form-control"
                            type="text"
                            name="Detail"
                            [(ngModel)]="product.detail"
                            required
                            maxlength="64"
                        />
                        <validation-messages
                            [formCtrl]="detailInput"
                        ></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Phiên đấu giá *</label>
                        <p-dropdown
                            [options]="auctions"
                            [(ngModel)]="selectedAuction"
                            optionLabel="name"
                            placeholder="Chọn phiên đấu giá"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label>Đã thanh toán *</label>
                        <p-checkbox
                            [(ngModel)]="isPaid"
                            binary="true"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-checkbox>
                        <!-- <input
                            #isPaidInput="ngModel"
                            class="form-control"
                            type="text"
                            name="IsPaid"
                            [(ngModel)]="product.isPaid"
                            required
                            maxlength="64"
                        /> -->
                        <!-- <validation-messages
                            [formCtrl]="isPaidInput"
                        ></validation-messages> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-default"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
